<div id="wrapper">
    <mat-form-field>
        <mat-label>Unesite dužinu mape</mat-label>
        <input matInput type="number">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Unesite širinu mape</mat-label>
        <input matInput type="number">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Unesite naziv</mat-label>
        <input matInput type="text">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Unesite sprat</mat-label>
        <input matInput type="number">
    </mat-form-field>
</div>