<div id="wrapper">
    <form [formGroup]="loginForm" (ngSubmit)="loginSubmit()">
        <span>
            <div id="logo">
                Warehouse Management System
            </div>
            <hr>
            <div>
                <mat-form-field>
                    <mat-label>Unesite e-mail</mat-label>
                    <input matInput placeholder="Email" type="email" formControlName="email">
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <mat-label>Unesite šifru</mat-label>
                    <input matInput placeholder="Šifra" type="password" formControlName="password">
                </mat-form-field>
            </div>
            <div id="buttonWrapper">
                <button mat-raised-button type="submit">Prijava</button>
            </div>
        </span>
    </form>
</div>
<ng-template #customLoadingTemplate>
    <div class="custom-class">
        <h3>
            Loading...
        </h3>
        <button>
            Click me!
        </button>
    </div>
</ng-template>

<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate">
</ngx-loading>