<div id="wrapper">
    <div id="info">
        <div id="user">
            <img src="https://scontent.fbeg4-1.fna.fbcdn.net/v/t1.0-1/p160x160/59406595_10213508808984890_44274554406699008_o.jpg?_nc_cat=104&ccb=2&_nc_sid=7206a8&_nc_ohc=gcZ5sjTsKbYAX8HJRK0&_nc_oc=AQmvEZ3FR5cRgNpnu5gA92gC4uHJf-Vl0ovPDSz8wqSuoxgi2vsmEjhnwQ-IyQnzaQg&_nc_ht=scontent.fbeg4-1.fna&tp=6&oh=582196a954f19ebfa283cd9821c8b948&oe=6042C19A"
                alt="logo">
            <div>
                <br>
                <p> Edim Hadžić </p>
                <b>Operater</b>
            </div>
        </div>
    </div>
    <hr>
    <div>
        <ul>
            <li routerLink="/users">
                <fa-icon [icon]="faUsers"></fa-icon>Korisnici
            </li>
            <li>
                <fa-icon [icon]="faWarehouse"></fa-icon>Skladišta
            </li>
            <li>
                <fa-icon [icon]="faBox"></fa-icon>Artikli
            </li>
            <li>
                <fa-icon [icon]="faFileInvoice"></fa-icon>Narudžbe
            </li>
            <li>
                <fa-icon [icon]="faMapMarkedAlt"></fa-icon>Hodogram
            </li>
            <li>
                <fa-icon [icon]="faCog"></fa-icon>Postavke
            </li>
            <li>
                <fa-icon [icon]="faExclamationTriangle"></fa-icon>Prijavi problem
            </li>
        </ul>
    </div>
    <div id="copyright">
        &#169; Warehouse Management System
        <br>
        (SSST 2020/2021)
    </div>
</div>