<div id="wrapper">
    <div>
        <!-- <app-add-map></app-add-map> -->
        <div id="mapOptions">
            <div *ngFor="let map of maps">
                <b>Naziv: {{map.name}}</b>
                <br>
                <b>Sprat: {{map.floor}}</b>
                <br>
                <button id="getButton" mat-button (click)="generatePreview(map)">Prikaži</button>
                <button id="deleteButton" mat-button (click)="deleteMap(map.id)">Izbriši mapu</button>
                <button id="updateButton" mat-button (click)="addWall(map.width, map.height, map.id)">Dodaj zid</button>
                <button id="updateButton" mat-button (click)="removeWall(map.width, map.height, map.id)">Ukloni
                    zid</button>
            </div>
        </div>
    </div>
    <div id="preview"></div>
</div>